process.container = 'ghcr.io/juyeongkim/immunebuilder:latest'
process.errorStrategy = 'ignore'

profiles {
  standard {
    process.executor = 'local'
    docker.enabled = true
  }
  cluster {
    process {
      executor = 'slurm'
      cpus = 2
      memory = '13 GB'
    }
    apptainer.enabled = true
  }
}
