process {
  container = 'ghcr.io/juyeongkim/immunebuilder:latest'
  errorStrategy = { (task.attempt <= process.maxRetries) ? 'retry' : 'ignore' }
  maxRetries = 3
}

profiles {
  standard {
    process.executor = 'local'
    docker.enabled = true
  }
  cluster {
    process {
      executor = 'slurm'
      cpus = 2
      memory = '13 GB'
    }
    apptainer {
      enabled = true
      autoMounts = true
    }
  }
}
